.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.calculator {
  width: 300px;
  height: 400px;
  margin: 10px auto 0 auto;
  border: 1px solid black;
  background-color: #222;
  border-radius: 10px;
}

.screen {
  width: 80%;
  height: 15%;
  margin: 8% auto 3% auto;
  border: 1px solid black;
  background-color: white;
  border-radius: 10px;
}

.board {
  width: 100%;
  height: 75%;/*  border: 1px solid red;*/
}

.row {
  width: 85%;
  height: 17%;
  margin: 0 auto 3% auto;/*  border: 1px solid black;
                                                                                          */
}

button {
  width: 22%;
  height: 100%;
  margin: 0 1.5%;
  border-radius: 10px;
}

#equals {
  width: 47%;
}

.centered {
  font-size: 1.5em;
  margin-top: 7%;
}
